input[type=text] {
  min-width: 400px;
}
fieldset {
  margin-top: 10px;
}
.btnClass {
  border: 0;
  height: 35px;
  padding: 0 20px;
  border-radius: 3px;
  cursor: pointer;
}
.btnAdd {
  background: black;
  color: white;
}
.btnRemove {
  background: #777;
  color: white;
}
.btnBuildClasses{
  background: green;
  color: white;
}
.btnRemoverArquivos{
  background: red;
  color: white;
}